
<div class="col col-1">
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
          </div>
        <input class=" form-control " type="text" id="html5colorpicker" onchange="clickColor(0, -1, -1, 5)" value="#454870" style="width:40px">
    </div>
</div>
