body .container, body .container-fluid {
    padding-top: 20px;
    padding-bottom: 40px;
}


nav a.delete_account {
    color: #dc3545;
}

nav a.delete_account:hover {
    color:#FFF;
    background-color: #dc3545;
}

.content {
    margin: 0 auto;
    max-width: 100%;
}

.title {
    padding-top: 30%;
    text-align: center;
    font-size: 96px;
}

#getCalendar .form-group {
    margin-bottom: 0.2rem;
}

.calendrier h3 { font-size: 1rem; }
.calendrier .day.today {
    background-color: #a3cfd6!important;
}
.calendrier .day.today .date {
    color:;
}

.calendrier .text-muted {
    color: #c7c7c7!important;
}

.user_macaron {
    display: inline-block;
    font-size: 0.8em;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    line-height: 2.4em;
    text-align: center;
    border-radius: 50%;
    background: #222;
    vertical-align: middle;
    margin-right: 0.5em;
    color: white;
  }

.checked-success label i.fas {color: #4a9ef9;}

.calendrier .form-control.is-changing {
    border-color: #ffc107!important;
}


@media (max-width:575px) {

  .calendrier .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
  .calendrier  .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .calendrier {

    }
    .calendrier .day {
        height: 14vw;
        max-height: 14vh;
    }

    .calendrier.nb_weeks_6 .day {
        height: 12vw;
        max-height: 12vh;
    }
}

