body .container, body .container-fluid {
    padding-top: 20px;
    padding-bottom: 40px;
}

nav a.delete_account { color: #dc3545; }
nav a.delete_account:hover { color:#FFF;    background-color: #dc3545;}

.content { margin: 0 auto; max-width: 100%;}

.title {
    padding-top: 30%;
    text-align: center;
    font-size: 96px;
}

form > .form-row > .form-group { margin-bottom: 0rem;}
.list-group-flush div.list-group-item-action + a.list-group-item-action {margin-top: -2px;}

.user_macaron {
    display: inline-block;
    font-size: 0.8em;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    line-height: 2.4em;
    text-align: center;
    border-radius: 50%;
    background: #222;
    vertical-align: middle;
    margin-right: 0.5em;
    color: white;
}

/** CALENDAR **/
.calendrier h3 { font-size: 1rem; }
.calendrier .day.today {background-color: #a3cfd6!important;}
.calendrier .table th .today, .calendrier .table td.today { color: #f1f4d3;}
.calendrier .table td.today {background-color: rgba(228,255,0,0.13);}
.calendrier .text-muted { color: #c7c7c7!important;}
.calendrier .checked-success label i.fas {color: #4a9ef9;}
.calendrier .form-control.is-changing { border-color: #ffc107!important;}

.opacity-0 { opacity:0!important;}
.opacity-1 { opacity:0.2!important;}
.opacity-2 { opacity:0.4!important;}
.opacity-3 { opacity:0.6!important;}
.opacity-4 { opacity:.8!important;}
.opacity-5 { opacity:1!important;}
.opacity-0h5 {
  opacity:0!important;
  transition: opacity .25s ease-in-out!important;
  -moz-transition: opacity .25s ease-in-out!important;
  -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
  opacity:1!important;
}

@media (max-width:575px) {

  .calendrier .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
  .calendrier  .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .calendrier .day {
        height: 14vw;
        max-height: 14vh;
    }

    .calendrier.nb_weeks_6 .day {
        height: 12vw;
        max-height: 12vh;
    }
}

